---
layout: default
---
{% assign page = strapi.collections.pages | where:"id", "2" | first %}



<!-- Row Gigs -->
<div class="section-gigs pt-40 pb-40">
  <div class="container pt-20 pb-20">
    <h2 class="ml-sm-20">Gigs</h2>
    
    <div class="section-gigs__wrapper mt-40 pb-30">

     {% assign sorted = strapi.collections.gigs | sort: 'date' | where: 'gig_type', 'Occasional' %}

      {% for gig in sorted limit:3 %}

      {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
      {% capture date %}{{gig.date | date: '%s' | plus: 0 }}{% endcapture %}

      {% if date > now %}
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">{{gig.title}} </h3>
            <p class="card-subtitle ml-5 mr-5 text-muted text-center">{{gig.address}}</p>
        
            <p class="card-text text-center mt-20">
              {{ gig.date | date:" %B, %-d %Y" }}<br>
              {{gig.start_time | date: "%I:%M%P" }}
              {% if gig.end_time %}
              - {{gig.end_time | date: "%I:%M%P" }}
              {% endif %}
            </p>
        
        
            <a href="{{gig.url}}" target="_blank" class="btn cbtn-accent__ghost mt-40 mb-10">Read info</a>
          </div>
        </div>
      {% endif %}
    
      
      {% endfor %}

      <!-- Regular Gigs -->
      {% assign reg = strapi.collections.gigs | where: 'gig_type', 'Regular' | first %}

      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{{reg.title}} </h3>
          <p class="card-subtitle ml-5 mr-5 text-muted text-center">{{reg.address}}</p>

          <p class="card-text text-center mt-20">
            {{reg.gig_type}} Gig <br>
          </p>
      
          <a href="{{reg.url}}" target="_blank" class="btn cbtn-accent__ghost mt-40 mb-10">Read info</a>
        </div>
      </div>
    
    </div>

    <a href="{{site.baseurl}}/gigs/" class="btn cbtn-accent btn-gigs">See more</a>
  </div>
</div>

<!-- Row Biography -->
<div class="section-biography">
  <div class="section-biography__inner">
    {% for zone in page.zone %}
      {% if zone.__component == 'section.biography' %}
      <div class="container section-biography__wrapper">
        <div class="section-biography__left">
          <h2 class="pl-sm-20">{{zone.title}}</h2>
          <p class="hex-white mt-30 pl-sm-20">
            {{zone.description}}
          </p>
        </div>
      
        <div class="section-biography__right mt-sm-30">
          <div class="section-biography__right__inner">
            <div class="section-biography__fourth-one">
              <img src="{{zone.image1.url}}" alt="" title="" class="">
            </div>
            <div class="section-biography__fourth-two">
              <img src="{{zone.image2.url}}" alt="" title="" class="">
            </div>
            <div class="section-biography__crosswise">
              <img src="{{zone.image3.url}}" alt="" title="" class="">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="section-gallery">
  <div class="container pt-40 pb-40">
    <h2>GALLERY</h2>
    <div class="section-gallery__images mt-30">
      {% for zone in page.zone %}

        {% if zone.__component == 'section.gallery' %}

          {% for image in zone.featured_images %}
      
           <img src="{{image.url}}" alt="" title="" class="section-gallery__img">

          {% endfor %}
        {% endif %}
            
      {% endfor %}
    </div>
    <a href="{{site.baseurl}}/gallery/" target="_blank" class="btn cbtn-accent btn-gigs mt-40">See more</a>
  </div>
</div>

<!-- Row contact form -->


{% include default/contact.html %}

{% include default/modal-mini-gallery.html %}