
.cbtn-success{
  @include btn-background(color('success'));
}

.cbtn-danger{
  @include btn-background(color('danger'));
}

.cbtn-info{
  @include btn-background(color('info'));
}

.cbtn-warning{
  @include btn-background(color('warning'));
}

.cbtn-accent{
  @include btn-background(color('accent'));
}

.cbtn-accent__ghost{
  @include btn-background(color('accent'));
  background:0;
  border:1px solid var(--accent);
  color:var(--accent);
  display: block;
  margin: 0 auto;
  width: 170px;
}

