.cmodal{
  background:var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 86%;
  height: 460px;
  max-height: 100%;
   z-index: 14001;
  overflow:hidden;
  
  .cmodal-close{
    position:absolute;
    top:0;
    right:0;
    background: var(--danger);
    color:var(--white);
    padding:10px;
    z-index: 1002;
    cursor:pointer;
 }


  .cmodal-guts{
     /* other stuff we already covered */

    /* cover the cmodal */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    /* let it scroll */
    overflow: auto;

    p{
     width:100%;
     margin-top:20px;
     margin:20px auto 0 auto;
    }

    h3{
     width:100%;
     display:inline-block;
    }

    .cmodal-content{
     margin: 20px 30px;
     width:86%;
    }
  }
}

.cmodal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(var(--dark-rgb), 0.8);
}

.cmodal--hide{
 display:none;
 cursor:pointer;
}