<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item">
      <a href="{{site.baseurl}}/" class="header__nav-link">Home</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Biography</a>
    </li>
    <li class="header__nav-item">
      <a href="{{site.baseurl}}/gallery/" class="header__nav-link">Gallery</a>
    </li>
    <li class="header__nav-item">
      <a href="{{site.baseurl}}/gigs/" class="header__nav-link">Gigs</a>
    </li>
    <li class="header__nav-item">
      <a href="{{site.baseurl}}/contact/" class="header__nav-link">Contact</a>
    </li>
  </ul>
</nav>