<nav class="cmenu cmenu--hide" id="cmenu">
  <a href="#" target="_blank" class="cmenu__close pt-20 pr-20 text-right" id="menuClose">
    <i class="fas fa-times fa-2x hex-white"></i>
  </a>
  <ul class="cmenu__list">
    <li class="cmenu__item">
      <a href="#" target="_blank" class="cmenu__link">Home</a>
    </li>
    <li class="cmenu__item">
      <a href="#" target="_blank" class="cmenu__link">Biography</a>
    </li>
    <li class="cmenu__item">
      <a href="#" target="_blank" class="cmenu__link">Gallery</a>
    </li>
    <li class="cmenu__item">
      <a href="#" target="_blank" class="cmenu__link">Gigs</a>
    </li>
    <li class="cmenu__item">
      <a href="#" target="_blank" class="cmenu__link">Contact</a>
    </li>
  </ul>
</nav>

<!-- cmodal Overlay -->
<div class="cmodal-overlay cmodal--hide" id="cmodalOverlay">
</div>