<div class="cmodal" id="cmodal">
  <a href="#" target="_blank" class="cmodal-close" id="cmodalClose">
    <i class="fas fa-times fa-2x"></i>
  </a>
  <!-- cModal Guts -->
  <div class="cmodal-guts">
    <a href="#" target="_blank" class="cmodal__prev"><i class="fas fa-chevron-left"></i></a>
    <div class="cmodal-content">
      <h4 class="hex-white cmodal__title" id="cmodalTitle">Ironsocket title</h4>
      <div class="cmodal-content__image mt-40">
        <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="Modal" title="Modal" class="cmodal-img">
      </div>

    </div>
    <a href="#" target="_blank" class="cmodal__next"><i class="fas fa-chevron-right"></i></a>
  </div>

</div>

<!-- cmodal Overlay -->
<div class="cmodal-overlay " id="cmodalOverlay">
</div>