<div class="cmodal cmodal--hide" id="cmodal">
  <a href="#" target="_blank" class="cmodal-close" id="cmodalClose">
    <i class="fas fa-times fa-2x"></i>
  </a>
  <!-- cModal Guts -->
  <div class="cmodal-guts">
    <a href="#" class="cmodal__prev"><i class="fas fa-chevron-left"></i></a>
    <div class="cmodal-content">
      <h4 class="hex-white cmodal__title" id="cmodalTitle">Ironsocket title</h4>
      <div class="cmodal-content__image mt-40">
        <img src="{{site.baseurl}}/assets/files/feature3.jpg" alt="Modal" title="Modal" class="cmodal-img" data-index="2">
      </div>

      <div class="cmodal-content__video cmodal--hide">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ERwGKuEbw-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
    <a href="#" class="cmodal__next"><i class="fas fa-chevron-right"></i></a>
  </div>

</div>

<!-- cmodal Overlay -->
<div class="cmodal-overlay cmodal--hide" id="cmodalOverlay">
</div>