---
layout: secondary
---

<div class="container mb-60">
  <h2 class="mt-40">Gallery</h2>
  <div class="gallery__filter mt-40">
    <div class="gallery__filter-config row">
      <div class="col-auto">
        <label for="" class="gallery__filter-label">Type: </label>
        <div class="gallery__filter-select">
          <select name="" id="">
            <option value="photos">Photos</option>
            <option value="videos">Videos</option>
          </select>
          <span class="gallery__filter-arrow"></span>
        </div>
      </div>
      
      <div class="col-auto">
        <label for="" class="gallery__filter-label">Year: </label>
        <div class="gallery__filter-select">
          <select name="gallery-year" id="galleryYear" class="gallery__year">
            <!-- Gets the years and selects the 2nd to the last year to display photos -->
            {% assign selected_index = strapi.collections.years | sort: 'name' | size | minus: 2 %}
            {% assign sorted_years = strapi.collections.years | sort: 'name' %}
           
            {% for year in sorted_years %}
              {% if year.name == sorted_years[selected_index].name %}
                <option value="{{year.name}}" selected>{{year.name}}</option>
              {% else %}
                <option value="{{year.name}}">{{year.name}}</option>
              {% endif %}
            {% endfor %}

          </select>
          <span class="gallery__filter-arrow"></span>
        </div>
      </div>
    </div>

    <div class="gallery__filter-album row mt-20">
      <label for="" class="gallery__filter-label">Albums:</label>
      
      <div class="gallery__filter-album__list">
        {% assign selected_year = sorted_years[selected_index].name%}
        {% assign photo_counter = 0 %}
        {% for photo in strapi.collections.photos %}
          {% if photo.year.name ==  selected_year %}

          <!-- Adds a plus one to the photo counter then checks if its the 1st index, then add the CURRENT class -->
            {% assign photo_counter = photo_counter | plus: 1  %}

            {% if photo_counter == 1 %}
              <a href="#" target="_blank" class="gallery__album__item gallery__album__item--current" data-id="{{photo.id}}">
                {{ photo.album_title }}
                
              </a>
            {% else %}
              <a href="#" target="_blank" class="gallery__album__item" data-id="{{photo.id}}">
                {{ photo.album_title }}
              </a>
            {% endif %}

          {% endif %}
        {% endfor %}

        
      </div>
    </div>
  </div>

  <span class="gallery__results">12 results found ...</span>


  <div class="gallery__photos mt-40">
    <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
    <img src="{{site.baseurl}}/assets/files/img2.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
    <img src="{{site.baseurl}}/assets/files/img3.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
    <img src="{{site.baseurl}}/assets/files/img4.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
    <img src="{{site.baseurl}}/assets/files/img5.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
    <img src="{{site.baseurl}}/assets/files/img6.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
    <img src="{{site.baseurl}}/assets/files/img7.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
    <img src="{{site.baseurl}}/assets/files/img8.jpg" alt="Sample Alt" title="Sample Title" class="gallery__img">
  </div>

  <div class="gallery__videos mt-40 d-none">

    <div class="gallery__video-wrapper">
      <div class="gallery__video">
        <a href="#" class="gallery__video-icon"><i class="fas fa-play"></i></a>
        <span class="gallery__video-overlay"></span>
        <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="" title="" class="gallery__video-thumb">
      
      </div>
      <h6 class="hex-dark gallery__video-title">Akostika - Proud Mary Cover</h6>
      <p class="gallery__video-date">July 18, 2021</p>
    </div>

    <div class="gallery__video-wrapper">
      <div class="gallery__video">
        <a href="#" class="gallery__video-icon"><i class="fas fa-play"></i></a>
        <span class="gallery__video-overlay"></span>
        <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="" title="" class="gallery__video-thumb">
    
      </div>
      <h6 class="hex-dark gallery__video-title">Akostika - Sun and Moon</h6>
      <p class="gallery__video-date">July 18, 2021</p>
    </div>

    <div class="gallery__video-wrapper">
      <div class="gallery__video">
        <a href="#" class="gallery__video-icon"><i class="fas fa-play"></i></a>
        <span class="gallery__video-overlay"></span>
        <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="" title="" class="gallery__video-thumb">
    
      </div>
      <h6 class="hex-dark gallery__video-title">Christmas Party</h6>
      <p class="gallery__video-date">June 12, 2021</p>
    </div>

    <div class="gallery__video-wrapper">
      <div class="gallery__video">
        <a href="#" class="gallery__video-icon"><i class="fas fa-play"></i></a>
        <span class="gallery__video-overlay"></span>
        <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="" title="" class="gallery__video-thumb">
    
      </div>
      <h6 class="hex-dark gallery__video-title">Time After Time</h6>
      <p class="gallery__video-date">October 21, 2021</p>
    </div>

    <div class="gallery__video-wrapper">
      <div class="gallery__video">
        <a href="#" class="gallery__video-icon"><i class="fas fa-play"></i></a>
        <span class="gallery__video-overlay"></span>
        <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="" title="" class="gallery__video-thumb">
    
      </div>
      <h6 class="hex-dark gallery__video-title">Akostika - Devil Went Down to Georgia</h6>
      <p class="gallery__video-date">November 4, 2021</p>
    </div>

    <div class="gallery__video-wrapper">
      <div class="gallery__video">
        <a href="#" class="gallery__video-icon"><i class="fas fa-play"></i></a>
        <span class="gallery__video-overlay"></span>
        <img src="{{site.baseurl}}/assets/files/img1.jpg" alt="" title="" class="gallery__video-thumb">
    
      </div>
      <h6 class="hex-dark gallery__video-title">Autumn Leaves</h6>
      <p class="gallery__video-date">December 24, 2021</p>
    </div>
    

  </div>
</div>

{% include default/modal-gallery.html %}