.gallery__img{
  width:318px;
  height:178px;
  object-fit:cover;
  border-radius:12px;
}

.gallery__photos{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.gallery__photos > * {
  flex: 1 1 22%;

  /* @media only screen and (max-width:800px){
   flex: 1 1 50%;
  } */
}