.single-gig__blurb{
  margin-left:20px;
  padding-top:20px;
  margin-bottom: 30px;

  @media only screen and (max-width:800px){
   margin-right:20px;
  }
}

.single-gig__img{
  padding:20px;
  width: 50%;
  object-fit: cover;
  @media only screen and (max-width:800px){
   width:100%;
  }
}

.single-gig__date,
.single-gig__time{
  margin:0 !important;
  font-size:1rem;
  color:#848484;

  span{
    text-transform:capitalize;
  }

  span:not(:last-child){
    &:after{
      content:", ";
    }
  }

}