

.header__main{
   background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 61%, rgba(2,0,36,0.4) 100%),
              url(../files/banner.jpg) top center no-repeat;
  background-size:cover;
  height:100vh;

   @media only screen and (max-width:1366px){
     height:70vh;

    }

    @media only screen and (max-width:800px){
     height:60vh;

    }

    @media only screen and (max-width:576px){
      height:30vh;
    }
  }


.header__nav{
  width:max-content;
  margin:0 auto;

  @media only screen and (max-width:576px){
   display:none;
  }
  

  .header__nav-list{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-left:0;
    width: 500px;
    max-width:100%;
    margin-top:20px;

    .header__nav-link{
      margin:5px 10px;
      color:var(--white);

      &:hover{
        color:var(--accent);
      }
    }
  }
}


.header__title{
  text-align: center;

  @media only screen and (max-width:800px){
   font-size:1.5rem;
  }
}

.header__anchor-link{
  display:none;
  @media only screen and (max-width:576px){
   display:block;
  }
}

.header__anchor{
  font-size:1.5rem;
  color:var(--white);
}

.header__title-link{
  color:var(--accent);

  @media only screen and (max-width:576px){
   
  }
}

.header__top{


  @media only screen and (max-width:576px){
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:86%;
    margin:0 auto;
  }
}