<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <meta name="og:title" property="og:title" content="HTML Webpack">
  <meta name="description"
    content="This is my own boilerplate in making Front End Projects. I'm currently using Laravel Mix and Webpack.">
  <meta property="og:image" content="#">
  <meta property="og:url" content="#">


  <title>Akostika Band</title>

  <!-- Row Styles -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.min.css">
  <link rel="shortcut icon" href="#">
</head>

<body>
  <div id="wrapper">
    <header class="header__main">
      <!-- Header here -->
      <div class="header__top">
        <h1 class="header__title">
          <a href="#" target="_blank" class="header__title-link">AKOSTIKA</a>
        </h1>
        
        <a href="#" target="_blank" class="header__anchor-link" id="menuOpen">
          <i class="fas fa-bars header__anchor"></i>
        </a>
      </div>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">Home</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">Biography</a>
          </li>
          <li class="header__nav-item">
            <a href="{{site.basurl}}/gallery/" class="header__nav-link">Gallery</a>
          </li>
          <li class="header__nav-item">
            <a href="{{site.baseurl}}/gigs/" class="header__nav-link">Gigs</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="main">
      {{ content }}
    </div>
    <footer>
      <p class="text-center">&copy; 2021 Akostika Band. All rights reserved.</p>
    </footer>

      {% include default/menu.html%}
  </div>



  <!-- Row Scripts -->
  <script src="{{site.baseurl}}/assets/js/app.js" defer></script>
  <script src="https://kit.fontawesome.com/e33b567028.js" defer></script>
</body>

</html>