<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


 {% include default/seo.html %}


  <!-- Row Styles -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.min.css">
  <link rel="shortcut icon" href="#">

  {% include default/favicons.html %}
</head>

<body>
  <div id="wrapper">

    {% assign page = strapi.collections.pages | where:"id", "2" | first %}

    {% for zone in page.zone %}

      {% if zone.__component == 'section.hero-banner' %}
        {% assign header_image = zone.image.url %}
      {% endif %}

    {% endfor %}
    
    <header class="header__main"  style="background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 61%, rgba(2,0,36,0.4) 100%),url({{header_image}}) top center no-repeat;">
      <!-- Header here -->
      <div class="header__top">
        <h1 class="header__title">
          <a href="{{site.baseurl}}/" class="header__title-link">AKOSTIKA</a>
        </h1>
        
        <a href="#" target="_blank" class="header__anchor-link" id="menuOpen">
          <i class="fas fa-bars header__anchor"></i>
        </a>
      </div>

    {% include default/main-menu.html %}
    </header>
    <div id="main">
      {{ content }}
    </div>
    <footer>
      <p class="text-center">&copy; 2021 Akostika Band. All rights reserved.</p>
    </footer>

      {% include default/menu.html%}
  </div>



  <!-- Row Scripts -->
  <script src="{{site.baseurl}}/assets/js/app.js" defer></script>
  <script src="https://kit.fontawesome.com/e33b567028.js" defer></script>
</body>

</html>