---
layout: secondary
---

<div class="container">
  <div class="single-gig__details mb-40 mt-40 ml-20 mr-20">
    <h2 class="mb-20">{{ page.document.title }}</h2>
    {% if page.document.gig_type == 'Occasional' %}
      <p class="single-gig__date ">Date: {{ page.document.date | date:" %B, %-d %Y" }}</p>
      <p class="single-gig__time">Time:
        {{page.document.start_time | date: "%I:%M%P" }} - {{page.document.end_time | date: "%I:%M%P" }}
      </p>
    {% else %}
      <p class="single-gig__date ">Type: Regular Gig</p>
      <p class="single-gig__time ">Schedule: 
        {% for schedule in page.document.sched %}
          <span>{{schedule.day}}</span>
        {% endfor %}
      </p>
      <p class="single-gig__time">Time:
        {{page.document.start_time | date: "%I:%M%P" }} 
        {% if page.document.end_time %}
          - {{page.document.end_time | date: "%I:%M%P" }}
        {% endif %}
        
      </p>
    {% endif %}
  </div>

  <div class="single-gig__info">
    <div class="clearfix">
      <img src="{{page.document.main_image.url}}" alt="" title=""
        class="single-gig__img float-none float-md-start">

      <div class="single-gig__blurb">
        {{page.document.content}}
      </div>
    </div>
  </div>


</div>